<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="moments.app" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/jarlogo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="moments.app.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".widget.WTextAddActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"></activity>

        <activity
            android:name=".notification.NTextAddActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"></activity>

        <activity android:name=".widget.WImageAddActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"></activity>

        <activity android:name=".widget.WLinkAddActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"></activity>

        <activity android:name=".widget.WTakeActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"></activity>

        <activity android:name="moments.app.SettingsActivity"></activity>

        <activity
       	    android:name="moments.app.LightInputActivity"
       	    android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
       	    <intent-filter>
        		<action android:name="android.intent.action.SEND" />
        		<category android:name="android.intent.category.DEFAULT" />
        		<data android:mimeType="text/plain" />
        		<data android:mimeType="image/*" />
    		</intent-filter>
       	</activity>

        <receiver android:name=".widget.MomentsAppWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/moments_appwidget_info" />
        </receiver>

        <receiver android:name=".widget.TakingWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/moments_takeappwidget_info" />
        </receiver>

        <receiver android:name=".notification.HappyNotificationManager">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"></action>
            </intent-filter>
        </receiver>

        <service android:name=".notification.NotificationService" />

    </application>

</manifest>
